/* ---------------------
General Styles 
------------------------ */
*{
  box-sizing: border-box;
}

html, body{
  font-size: 16px;
  line-height: 1.3;
}

#todo{
  width: 404px;
  border: 2px solid #11344F;
  margin: 10px auto;
  background-color: #C3D0E1;
  font-family: arial, sans-serif;
}


/* ---------------------
Add New Task Bar Styles 
------------------------ */
header{
  position: relative;
  height: 65px;
  line-height: 65px;
  background-color: #1E4E6F;
  color: #fff;
}

/* search box */
label{
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 65px;
}

input{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 335px;
  height: 65px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  outline: none;
  padding: 0 15px;
  z-index: 5;
  transition: all 0.1s ease-in;
}

header.populated input,
header.empty:hover input{
  transform: translateY(8px);
}

span{
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  transform: translate(40px, 0) scale(1.3, 1.3);
  transition: all 0.1s ease-in;
  z-index: 2;
}

header.populated span,
header.empty:hover span{
  color: rgba(226, 112, 8, 0.9);
  transform: translate(-3px, -18px) scale(0.8, 0.8);
}

/* add button */
nav, 
.add-todo{
  width: 65px;
  height: 65px;
}

nav{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #11344F;
}

.add-todo{
  display: inline-block;
}

.add-todo::before, 
.add-todo::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 25px;
  height: 4px;
  background-color: #E27008;
  border-radius: 2px;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  transition: all .2s ease-in-out;
}

.add-todo::after{
  transform: translate(-50%, -50%) rotate(90deg) scale(1);
}

nav:hover .add-todo::before{
  transform: translate(-50%, -50%) rotate(0deg) scale(1.15);
}

nav:hover .add-todo::after{
  transform: translate(-50%, -50%) rotate(90deg) scale(1.15);
}


/* ---------------------
Todo Item Styles 
------------------------ */
section{

}

ul{
  color: #11344F;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

li{
  position: relative;
  border-bottom: 1px dotted #427CA7;
  padding: 20px 40px 20px 50px;
}

li:last-child{
  border-bottom: none;
}

/* exit button */
.delete{
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid #427CA7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.delete::after{
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #427CA7;
  line-height: 20px;
  height: 1px;
  width: 10px;
  transform: translateX(-50%);
}

/* status button */